---
import Logo from '@components/LogoBanner.astro';
import Icon from '@components/FABrandIcon.astro';

const TODAY = new Date(Date.now());
const CURRENT_YEAR = TODAY.getFullYear();
const COMPANY_NAME = 'Wolfsrudel LLC';

const LINKS = [
	{name: 'Privacy Policy', url: '/legal/privacy'},
	{name: 'Terms & Conditions', url: '/legal/terms'},
	{name: 'Disclaimer', url: '/legal/disclaimer'},
];

const SOCIALS = [
	{alt: 'Instagram Page', iconName: 'faInstagram', url: 'https://instagram.com/wolfsrudelusa'},
	{alt: 'Facebook Page', iconName: 'faFacebook', url: 'https://facebook.com/wolfsrudelusa'},
	{alt: 'Linkedin Page', iconName: 'faLinkedin', url: 'https://linkedin.com/company/wolfsrudelusa'},
	{alt: 'Linkedin Page', iconName: 'faPaypal', url: 'https://paypal.biz/wolfsrudelusa'},
];
---

<footer>
	<section>
		<Logo size="small" />
		<div id="socials">{SOCIALS.map(({iconName, url, alt}) => <a href={url} aria-label={alt}><Icon name={iconName} class="fa-xl" style="margin: 0 4px" /></a>)}</div>
	</section>
	<section>
		{LINKS.map(({name, url}) => <a href={url} aria-label={name}>{name}</a>)}
	</section>
	<section>
		<p><small>&copy; {CURRENT_YEAR} {COMPANY_NAME}</small> | <small>Last updated <time datetime={`${TODAY.getUTCFullYear()}-${TODAY.getUTCMonth()+1}-${TODAY.getUTCDay()+1}`}>{TODAY.toLocaleDateString('en',{year:'numeric',month:'short',day:'numeric'})}</time></small></p>
	</section>
</footer>

<style lang="scss">
@use '@assets/styles' as theme;
footer {
	color: theme.get-color('default');
	background-color: theme.get-color('background');
	padding: 0 64px;
	text-align: center;
	section {
		padding: 8px;
		display: flex;
		flex-flow: column wrap;
		align-content: space-around;
		a {
			text-decoration: none;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
		#socials {
			margin-top: 8px;
		}
	}
	@media only screen and (min-width: theme.$breakpoint-large) {
		section {
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}
	}
}
</style>
